* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

@-webkit-keyframes toLeft {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@keyframes toLeft {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

.header {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
  height: 60px;
}

.header__logo {
  display: block;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: absolute;
  z-index: 9;
  right: 0;
  top: 0;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(#000000d2));
  background-image: linear-gradient(to right, black, #000000d2);
  -webkit-animation-name: toLeft;
          animation-name: toLeft;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.header__ul--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__li {
  margin-bottom: 10px;
  width: 100%;
}

.header__li a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: block;
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.header__li a:hover {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(transparent));
  background-image: linear-gradient(to right, white, transparent);
}

.header__menu {
  position: relative;
  z-index: 10;
}

.header__menu div {
  width: 24px;
  height: 3px;
  margin-bottom: 4px;
  background-color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header__menu div:nth-child(3) {
  margin-bottom: 0;
}

.header__menu--active div:nth-child(1) {
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 7px;
}

.header__menu--active div:nth-child(2) {
  opacity: 0;
}

.header__menu--active div:nth-child(3) {
  position: relative;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 7px;
}

.header__banner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
  margin-top: 10vh;
}

.header__banner h3 {
  font-weight: 300;
  font-size: 3rem;
  color: white;
}

.header__banner h1 {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: white;
  margin: 5px 0;
  text-shadow: 0 2px 2px black;
}

.best-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
}

.best-car__figure {
  display: block;
  max-width: 800px;
  height: 100%;
  max-width: 90%;
  margin-left: 10px;
  margin-bottom: 20px;
}

.best-car__figure img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: -10px 20px 0px black;
          box-shadow: -10px 20px 0px black;
}

.best-car__text {
  max-width: 600px;
}

.best-car__text h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #4d4d4d;
  margin: 10px 0;
}

.best-car__text h2::before {
  content: '';
  display: block;
  position: relative;
  width: 6ch;
  height: 8px;
  background-color: black;
  margin: 20px 0;
}

.best-car__text h3 {
  font-weight: bold;
  font-size: 1.8rem;
  color: black;
  text-transform: uppercase;
  margin: 5px 0;
}

.best-car__text p {
  font-size: 1.6rem;
  line-height: 25px;
  color: #111;
  margin-bottom: 10px;
  max-width: 500px;
}

.best-car__text button {
  background-color: black;
  font-weight: bold;
  color: white;
  border: 0;
  text-transform: uppercase;
  padding: 10px 20px;
}

@media screen and (min-width: 700px) {
  .best-car {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .best-car__text {
    margin-left: 20px;
  }
}

.best-car-icons {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
}

.best-car-icons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.best-car-icons__text h2, .best-car-icons__text p {
  color: #111;
}

.best-car-icons__text h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 10px 0;
}

.best-car-icons__text p {
  font-size: 1.6rem;
  line-height: 25px;
  max-width: 500px;
}

.best-car-icons__icons svg {
  display: block;
  font-size: 5rem;
  margin: 10px;
}

@media screen and (min-width: 700px) {
  .best-car-icons__icons svg {
    display: inline-block;
  }
  .best-car-icons__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.black-background {
  background-color: #000;
  padding: 30px 0;
}

.black-background__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
  padding: 0;
}

.black-background__container01, .black-background__container02, .black-background__container03 {
  margin: 25px 0;
}

.black-background__container01 figure, .black-background__container02 figure, .black-background__container03 figure {
  max-width: 600px;
}

.black-background__container01 figure img, .black-background__container02 figure img, .black-background__container03 figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 10px 10px 0px #db545a;
          box-shadow: 10px 10px 0px #db545a;
}

.black-background__container01 h2, .black-background__container02 h2, .black-background__container03 h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  margin-top: 30px;
}

.black-background__container01 p, .black-background__container02 p, .black-background__container03 p {
  font-size: 1.6rem;
  color: white;
  line-height: 25px;
  margin: 10px 0;
}

.black-background__container01 button, .black-background__container02 button, .black-background__container03 button {
  padding: 10px 30px;
  background-color: #db545a;
  text-transform: uppercase;
  color: white;
  border: 0;
}

.black-background__container02 h2 {
  color: #db545a;
  font-size: 3rem;
  margin-top: 10px;
}

.black-background__container02 h3 {
  font-size: 1.6rem;
  color: white;
}

.black-background__container02 figure img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.black-background__container03 {
  margin: 0 auto;
  width: 90%;
  text-align: left;
}

.black-background__container03 figure {
  margin-right: auto;
  max-width: 600px;
}

.black-background__container03 figure img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 800px) {
  .black-background__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .black-background__container03 {
    text-align: center;
  }
  .black-background__container03 figure {
    margin: 0 auto;
  }
  .black-background__container01, .black-background__container02, .black-background__container03, .black-background__container02 {
    margin: 25px;
  }
}

.tech {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
}

.tech__title {
  font-size: 3rem;
  font-weight: bold;
  color: #db545a;
  text-align: center;
}

.tech__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.tech__card {
  margin: 5px 10px;
  max-width: 200px;
  -webkit-box-shadow: 0 0 2px #00000098;
          box-shadow: 0 0 2px #00000098;
}

.tech__card figure {
  width: 100%;
}

.tech__card figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.tech__card h2 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  padding: 20px;
  text-align: center;
}

.history {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.history figure {
  display: block;
  max-width: 500px;
  width: 100%;
  height: 350px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 5px 0;
}

.history figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.history__info {
  width: 400px;
  margin: 10px 0;
}

.history__info h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #db545a;
}

.history__info p {
  color: #808080;
  font-size: 1.6rem;
  line-height: 25px;
  margin: 10px 0;
}

.history__info strong {
  color: #808080;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 25px;
}

@media screen and (min-width: 700px) {
  .history figure {
    margin: 0 10px;
  }
  .history__info {
    margin: 0;
  }
}

.grid-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (5)[1fr];
      grid-template-rows: repeat(1fr, 5);
      grid-template-areas: "car1" "car2" "info01" "car3" "info02";
}

.grid-gallery img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-gallery img:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: car1;
  -o-object-position: left;
     object-position: left;
}

.grid-gallery img:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: car2;
}

.grid-gallery img:nth-child(3) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: car3;
}

.grid-gallery div:nth-child(1) {
  grid-area: info1;
}

.grid-gallery div:nth-child(2) {
  grid-area: info2;
}

.grid-gallery__card-text01, .grid-gallery__card-text02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
}

.grid-gallery__card-text01 h2, .grid-gallery__card-text02 h2 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #4e4e4e;
}

.grid-gallery__card-text01 p, .grid-gallery__card-text02 p {
  font-size: 1.6rem;
  margin: 10px 0;
}

.grid-gallery__card-text01 button, .grid-gallery__card-text02 button {
  padding: 10px 25px;
  background-color: #db545a;
  border: 0;
  color: white;
  font-size: 1.6rem;
  margin-top: 10px;
}

.grid-gallery__card-text02 {
  background-color: #db545a;
  color: white;
}

.grid-gallery__card-text02 h2 {
  color: white;
}

@media screen and (min-width: 900px) {
  .grid-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "car1 car1 car2 info1" "car1 car1 info2 car3";
  }
}
/*# sourceMappingURL=style.css.map */