@import './mixins';
@import './animations';

.header {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;

    &__nav {
        @include flexProperties(row, space-between, center);
        @include maxWidth;
        height: 60px;
    }

    &__logo {
        display: block;
    }

    &__ul {
        @include flexProperties(column, center, center);
        display: none;
        position: absolute;
        z-index: 9;
        right: 0;
        top: 0;
        max-width: 400px;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right, black, #000000d2);
        animation-name: toLeft;
        animation-duration: 0.4s;
    }

    &__ul--active {
        display: flex;
    }

    &__li {
        margin-bottom: 10px;
        width: 100%;
        a {
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            display: block;
            color: white;
            font-size: 1.6rem;
            text-decoration: none;
            text-align: center;
            padding: 5px;
            transition: 0.4s ease;

            &:hover {
                color: white;
                background-image: linear-gradient(to right, white, transparent);
            }
        }
    }

    &__menu {
        position: relative;
        z-index: 10;
        cursor: pointer;
        
        div {
            width: 24px;
            height: 3px;
            margin-bottom: 4px;
            background-color: white;
            transition: 0.3s ease;

            &:nth-child(3) {
                margin-bottom: 0;
            }
        }
    }

    &__menu--active {
        div {
            &:nth-child(1) {
                position: relative;
                transform: rotate(45deg);
                top: 7px;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                position: relative;
                transform: rotate(-45deg);
                bottom: 7px;
            }
        }
    }

    &__banner {
        @include maxWidth;
        margin-top: 10vh;
        h3 {
            font-weight: 300;
            font-size: 3rem;
            color: white;
        }
        h1 {
            font-family: "Roboto", sans-serif;
            font-size: 5rem;
            font-weight: bold;
            color: white;
            margin: 5px 0;
            text-shadow: 0 2px 2px black;
        }
    }
}