@import './mixins';

.tech {
    @include maxWidth;

   &__title {
       font-size: 3rem;
       font-weight: bold;
       color: #db545a;
       text-align: center;
   }
   &__flex {
      @include flexProperties(row, center, center);
       flex-wrap: wrap;
        margin-top: 20px;
   }
   &__card {
       margin: 5px 10px;
       max-width: 200px;
       box-shadow: 0 0 2px #00000098;
       figure {
           width: 100%;

           img {
               width: 100%;
               object-fit: cover;
               object-position: center;
           }
       }
       h2 {
            font-size: 2rem;
            font-weight: bold;
            color: black;
            padding: 20px;
            text-align: center;
       }
   }
}